@import 'semantic-ui/collections/menu';
@import 'semantic-ui/elements/button';

body {
  padding-top: 35px;
}

#site_bar.front-end {
  @extend .inverted;
  z-index: 9999;

  // .button {
  //   @extend .inverted;
  // }

  .item {
    font-size: 1.4rem;
  }
}